<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--指定对应的文件路径-->
<mapper namespace="com.test.demo.mapper.TUserMapper">

    <select id="getAllBeanInfo" resultType="TUser">
        select * from t_user
    </select>

    <select id="selectTUserById" resultType="TUser">
        select * from t_user  where `id` = #{id};
    </select>

    <insert id="insertTUser" parameterType="TUser">
        insert into t_user(id,name,age,gender,email) values (#{id}, #{name}, #{age},#{gender}, #{email});
    </insert>

    <delete id="deleteTuserById" parameterType="integer">
            delete from t_user where `id` = #{id}
    </delete>

    <update id="updateTUser" parameterType="TUser">
        update t_user set name = #{name},age = #{age},gender = #{gender},email = #{email}
        where id = #{id}
    </update>


</mapper>
